<section class="comment-list">
  <div class="header">
    <h2>Comments</h2>
    <p>
      Total: <span class="text-primary">{{ (comments$ | async)?.length }}</span>
    </p>
  </div>
  @for(comment of comments$ | async; track comment) {
  <app-card [backgroundColor]="'var(--background)'">
    <h4 card-title>
      {{ comment.name }}
    </h4>
    <p card-description class="text-secondary">
      {{ comment.body }}
    </p>
  </app-card>
  } @empty { @for(comment of mockCommentForLoading; track comment) {
  <app-comment-skeleton />

  } }
</section>
