@use '../../../styles/_mixins.sass' as Mixins 


.post-list 
    @include Mixins.flex($direction: column)
    gap: 1rem
    

    .controls
        color: var(--text) !important
        a
            span:not(.show-for-sr)
                color: var(--text) !important
                text-decoration: none