<section class="post-list">
  @if(allPosts$ | async; as posts){ @for(post of posts | paginate: { itemsPerPage: 5, currentPage: p }; track post) {
  <app-post-card [routerLink]="['/post-detail', post.id]" [post]="post" />
  } } @if(postLoading$ | async) {
  <!-- show loading skeleton -->
  @for(post of mockPostForLoading; track post) {
  <app-post-skeleton />
  } } @if(postError$ | async) {
  <p>Failed to fetch posts.</p>
  }

  <div class="controls">
    <pagination-controls (pageChange)="p = $event" />
  </div>
</section>
