<app-card [backgroundColor]="'var(--bg-accent)'">
  <h4 card-title>
    <p-skeleton width="100%" height="1.2rem" styleClass="skeleton" />
    <p-skeleton width="30%" height="1.2rem" styleClass="skeleton" />
  </h4>
  <p card-description class="text-secondary">
    <p-skeleton width="100%" height=".9rem" styleClass="skeleton" />
    <p-skeleton width="100%" height=".9rem" styleClass="skeleton" />
  </p>
  <div card-footer>
    <div class="flex-row-btween">
      <p-skeleton width="3rem" height="1.5rem" styleClass="skeleton" />
      <p-skeleton width="3rem" height="1.5rem" styleClass="skeleton" />
    </div>
  </div>
</app-card>
